*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #222 ;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden; 
}

.card {
    width: 90%;
    max-width: 600px; 
    background: linear-gradient(#e66465, #9198e5);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background:#ebbbfc ;
    color: #555;
    padding: 20px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button{
    border: 0;
    outline: 0;
    background:#ebbbfc ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 150px;
    margin: 20px auto;
    display: block;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
    margin: 20px 0;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    margin: 50px 0;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 29px;
    margin-top: -6px;
}
.weather {
    display: none;
}
.default-message {
    color: #fff;
    margin: 40px 0;
}

.default-message h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.default-message p {
    font-size: 18px;
}