*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    overflow-x: hidden; 
}
.page{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./images/weatherbgcompressed.jpg);
    background-size: 100%;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    transform-origin: center;
}
.card {
    width: 50%;
    background-color: rgba(50, 50, 50, 0.5);
    color: #fff;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background:#ebbbfc ;
    color: #555;
    padding: 20px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 1.5vw;
}
.search button{
    border: 0;
    outline: 0;
    background:#ebbbfc ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 30%;
    margin: 5% auto;
    display: block;
}
.weather h1{
    font-size: 4.5vw;
    font-weight: 500;
    margin: 5% auto;
}
.weather h2{
    font-size: 3.5vw;
    font-weight: 400;
    margin-top: -2%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2%x;
    margin: 4% 0;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 1.6vw;
}
.col img{
    width: 30%;
    margin-right: 5%;
}
.humidity , .wind{
    font-size: 1.5vw;
    margin-top: -6px;
}
.weather {
    display: none;
}
.default-message {
    color: #fff;
    margin: 40px 0;
}

.default-message h1 {
    font-size: 3.5vw;
    margin-bottom: 10px;
}

.default-message p {
    font-size: 1.5vw;
}